<!DOCTYPE html>
<html>
  <head>
    <title>GmapsRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
